<body width="50%" bgcolor="#ffffff" text="#000000" link="#fa806e" vlink="#fa806e" alink="#fa806e">
<font face="verdana, arial, helvetica, sans-serif">

<table width="95%" border="0" cellpadding="20" cellspacing="10" align="center">
	<tr>
		<table width="100%" border="0" cellpadding="5" cellspacing="10" id="objectives">
			<thead>
				<tr align="center" bgcolor="#32a887">
					<td colspan="2" bacground="../resources/img/title.png">
						<font size="4" color="#ffffff">Key Points</font>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="10%" align="right">O</td>
					<td width="90%">I work hard to complete my assignments on time.</td>
				</tr>
				<tr>
					<td align="right">O</td>
					<td>I can create websites using HTML.</td>
				</tr>
				<tr>
					<td align="right">O</td>
					<td>I can host websites on github pages and firebase hosting</td>
				</tr>	
			</tbody>
		</table>
		
		<table width="100%" border="0" cellpadding="5" cellspacing="10">
			<thead>
				<tr align="center" bgcolor="#32a887">
					<td colspan="3">
						<font size="4" color="#ffffff">Summary</font>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="5%"></td>
					<td width="90%">
						<p align="justify">
							&nbsp &nbsp &nbsp
							I am learning HTML, CSS, Javascript, Web & Mobile course from Sir Ali Mughal 
							and Miss Anum Rehman at Jawan Pakistan. I am best in creating website in HTML.
							I support and help classmates at Jawan Pakistan in solving their issues.
						</p>
					</td>
					<td width="5%"></td>
				</tr>	
			</tbody>
		</table>
	</tr>

	<tr>
		<table id="skills" width="100%" border="0" cellpadding="5" cellspacing="10">
			<thead>
				<tr align="center" bgcolor="#32a887">
					<td colspan="2">
						<font size="4" color="#ffffff">Skills (HTML Only)</font>
					</td>
				</tr>
			</thead>
			<tbody align="center">
				<tr>
					<td width="40%">Table</td>
					<td width="60%">
						<img src="../resources/img/skills/rating-4.png" alt="4 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>Linking Pages</td>
					<td>
						<img src="../resources/img/skills/rating-4.png" alt="4 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>Forms</td>
					<td>
						<img src="../resources/img/skills/rating-3.png" alt="3 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>Video Embed</td>
					<td>
						<img src="../resources/img/skills/rating-3.png" alt="3 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>Images/Gallery</td>
					<td>
						<img src="../resources/img/skills/rating-3.png" alt="3 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>Paragraphs</td>
					<td>
						<img src="../resources/img/skills/rating-1.png" alt="1 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>Contact Details</td>
					<td>
						<img src="../resources/img/skills/rating-4.png" alt="4 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>Styling HTML only</td>
					<td>
						<img src="../resources/img/skills/rating-4.png" alt="4 OUT OF 5" height="20">
					</td>
				</tr>
			</tbody>
		</table>
	</tr>

	<tr>
		<table id="education" width="100%" border="0" cellpadding="5" cellspacing="0">
			<thead>
				<tr align="center" bgcolor="#32a887">
					<td colspan="2">
						<font size="4" color="#ffffff">Education</font>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="40%">Jawan Pakistan</td>
					<td width="60%" rowspan="2">
						Web & Mobile Course
					</td>
				</tr>
				<tr>
					<td><font size="2.5"><i>Sir Adamjee Institute, 11th Street، Block 2 Gulberg Town, Karachi, Karachi City, Sindh 75950, Pakistan</i></font></td>
				</tr>
				<tr>
					<td><font size="2.5"><i>2021 - Present (Ongoing)</i></font></td>
				</tr>
				
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>

				<tr>
					<td width="40%">Sarhad Higher Sec.</td>
					<td width="60%" rowspan="2">
						9th Class
					</td>
				</tr>
				<tr>
					<td><font size="2.5"><i>Karachi</i></font></td>
				</tr>
				<tr>
					<td><font size="2.5"><i>2020 - present (On Going)</i></font></td>
				</tr>
				
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>
	</tbody>
			
		</table>
	</tr>
</table>

</font>
</body>